﻿<h3>About Tengu Talk</h3>
<p>
    This site grew from a simple pet project into a large hobby from a love of Guild Wars 2. Below is 
    various legal information and a semi-exhaustive technological reference to what is used within this 
    site. 
</p>
<section class="legalSection">
    <h3>Guild Wars 2 Legals</h3>
    <p>
        This site follows all rules and stipulations outlined by the Arenanet 
        <a href="https://www.guildwars2.com/en/legal/guild-wars-2-content-terms-of-use/">Content Terms of Use</a>.
        Almost all data within the site was retrieved through the Official 
        <a href="https://wiki.guildwars2.com/wiki/API:Main">Guild Wars 2 API</a>.
    </p>
</section>
<section class="legalSection">
    <h3>Cookies</h3>
    <p>
        The site stores cookies for user experience enhancement but in no way stores sensative information.
    </p>
</section>
<section class="legalSection">
    <h3>Technologies</h3>
    <ul>
        <li><a href="https://angularjs.org/">AngularJS</a> - Used to create a single page application for the site.</li>
        <li><a href="http://getbootstrap.com/">Bootsrap</a> - Used to create responsive web site and unified styling.</li>
        <li><a href="https://www.google.com/analytics/">Google Analyitcs</a> - Google Service to track and enhance user experience within a site.</li>
        <li><a href="http://www.asp.net/mvc">ASP.NET MVC</a> - Microsoft technology to implement a web site&quot;s routing, pages, and data manipulation.</li>
        <li><a href="http://projects.lukehaas.me/css-loaders/">Luke Haas&prime; Loading Spinner</a> - A simple loading spinner.</li>
        <li><a href="https://scottjehl.github.io/picturefill/">Picturefill</a> - A Javascript plugin to allow images to change their source based on dynamic screen size.</li>
    </ul>
</section>