﻿<h3>Crafting</h3>
<p>
    Guild Wars 2 has an elaborate and recursive type crafting system. Materials from lower tiers are sometimes used in others
    farther up. Below is a way to search for various recipes within the GW2 crafting system. This is not meant to replace
    crafting guides, more just a way to search through recipes.
</p>

<section ng-controller="CraftingController">
    <div ng-show="recipeList.length <= 0" class="loader">
        Loading...
    </div>

    <div class="row" ng-show="recipeList.length > 0">
        <!------------------ Search filtering section. -------------------------->
        <div class="col-xs-12 col-md-6">
            <h3>Search Filtering:</h3>
            Recipe Category:<br/>
            <select class="form-control" ng-model="category.selected">
                <option selected value="">Please select an option.</option>
                <option ng-repeat="category in category.list" value="{{category}}">{{category}}</option>
            </select>
            <hr/>
            <p>Use slider to change rarity type.</p>
            <label class="{{qualityName}}">{{qualityName}}</label><br />
            <input type="range" name="qualityRange" id="qualityRange" value="3" min="0" max="6" ng-model="qualityRange">
            <hr />
            <div ng-show="category.selected == 'Weapon'">
                <h4>Weapon Recipes by Type:</h4>
                <select class="form-control" ng-model="weapons.selected" ng-change="weaponChange()">
                    <option selected value="">Please select an option.</option>
                    <option ng-repeat="recipe in weapons.types" value="{{recipe}}">{{recipe}}</option>
                </select>
            </div>
            <div ng-show="category.selected == 'Armor'">
                <h4>Armor Recipes by Type:</h4>
                <select class="form-control" ng-model="armor.selected" ng-change="armorChange()">
                    <option selected value="">Please select an option.</option>
                    <option ng-repeat="recipe in armor.types" value="{{recipe}}">{{recipe}}</option>
                </select>
            </div>
            <div ng-show="category.selected == 'Weapon' || category.selected == 'Armor'">
                <hr />
                Enter specific text to filter by:<br />
                <input class="form-control" type="text" ng-model="searchFilter"/>
            </div>
            <br />
        </div>

        <!------------------ Search results section. -------------------------->
        <div class="col-xs-12 col-md-6">
            <h3>Search Results:</h3>
            <div ng-show="resultWeapons.length > 0 || resultArmors.length > 0">
                <p>Click on a recipe to see the ingredients list. Grayed out recipes do match your search filters.</p>
                <p>Use Next and Previous buttons to look through search lists.</p>
                <button class="btn btn-default btn-prev" ng-disabled="pageMin <= 0" ng-click="pagePrev()">Previous</button>
                <button class="btn btn-default" ng-disabled="pageMax >= filteredListMax" ng-click="pageNext()">Next</button>
            </div>
            <br />
            
            <div id="weaponResults" ng-show="category.selected == 'Weapon' && resultWeapons.length > 0 ">
                Page {{(pageMin / 100) + 1}} of {{Math.floor(filteredListMax / 100) + 1}}
                <ul>
                    <li ng-repeat="weapon in resultWeapons" ng-click="recipeClick(weapon)" data-toggle="modal" data-target="#baseModal" class="{{weapon.rarity == qualityName && (searchFilter == '' || weapon.name.indexOf(searchFilter) >= 0) ? 'rarityMatch' : 'rarityMiss'}}">
                        <img src="{{weapon.icon}}" alt="{{weapon.name}}" title="{{weapon.name}}">
                        {{weapon.name}}
                    </li>
                </ul>
            </div>
            <div id="armorResults" ng-show="category.selected == 'Armor' && resultArmors.length > 0">
                Page {{(pageMin / 100) + 1}} of {{Math.floor(filteredListMax / 100) + 1}}
                <ul>
                    <li ng-repeat="armor in resultArmors" ng-click="recipeClick(armor)" data-toggle="modal" data-target="#baseModal" class="{{armor.rarity == qualityName && (searchFilter == '' || armor.name.indexOf(searchFilter) >= 0)  ? 'rarityMatch' : 'rarityMiss'}}">
                        <img src="{{armor.icon}}" alt="{{armor.name}}" title="{{armor.name}}">
                        {{armor.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!------------------ Bootstrap modal for recipe information. -------------------------->
    <div id="baseModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{modalItemJSON.name}}</h4>
                </div>
                <div class="modal-body">
                    Ingredients:
                    <ul>
                        <li ng-repeat="ingredient in modalRecipeJSON.ingredients">
                            {{ingredient.name}} - Quantity: {{ingredient.count}}
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>