﻿<h3>Daily Page!</h3>
<p>
    Guild Wars 2 has a daily system where any three completed goals within PvE, PvP, and WvW grant a daily reward! Below are today&quot;s
    tasks along with other applicable daily tasks if your character has the right level and owned expansion.
</p>

<section ng-controller="DailyController">
    <div class="row">
        <div class="col-xs-6">
            <label>Which game do you own?</label><br />
            <input type="radio" name="gameTypeOwned" value="GuildWars2" id="radioCore" ng-model="gameTypeOwned" checked ng-change="getDailies()" /><label for="radioCore">Core Game Only</label><br />
            <input type="radio" name="gameTypeOwned" value="HeartOfThorns" id="radioHoT" ng-model="gameTypeOwned" ng-change="getDailies()" /><label for="radioHoT">Heart of Thorns</label><br />
        </div>
        <div class="col-xs-6">
            <label>What is the highest level character you own?</label>
            <br />
            <input type="number" name="highestLevelCharacter" value="1" min="1" max="80" ng-model="maxLevelCharacter" ng-change="getDailies()" />
        </div>
    </div>
    <div class="row">
        <article class="col-xs-12 col-sm-6 col-md-4 dailycontainer">
            <h3>PvE Dailies</h3>
            <table>
                <tr ng-repeat="daily in dailyPvE track by $index">
                    <td>{{daily.name}}</td>
                    <!--<td>{{daily.description}}</td>-->
                </tr>
            </table>
        </article>
        <article class="col-xs-12 col-sm-6 col-md-4 dailycontainer">
            <h3>PvP Dailies</h3>
            <table>
                <tr ng-repeat="daily in dailyPvP track by $index">
                    <td>{{daily.name}}</td>
                </tr>
            </table>
        </article>
        <article class="col-xs-12 col-sm-6 col-md-4 dailycontainer">
            <h3>WvW Dailies</h3>
            <table>
                <tr ng-repeat="daily in dailyWvW track by $index">
                    <td>{{daily.name}}</td>
                </tr>
            </table>
        </article>
        <article ng-if="gameTypeOwned == 'HeartOfThorns'" class="col-xs-12 col-sm-6 col-md-4 dailycontainer">
            <h3>Bloodstone Fen Dailies</h3>
            <table ng-show="maxLevelCharacter == 80">
                <tr ng-repeat="daily in dailyBloodstone track by $index">
                    <td>{{daily.name}}</td>
                </tr>
            </table>
        </article>
        <article ng-if="false && gameTypeOwned == 'HeartOfThorns'" class="col-xs-12 col-sm-6 col-md-4 dailycontainer">
            <h3>Fractal Dailies</h3>
            <table ng-show="maxLevelCharacter == 80">
                <tr ng-repeat="daily in dailyFractal track by $index">
                    <td>{{daily.name}}</td>
                </tr>
            </table>
        </article>
    </div>
</section>