﻿<h3>Welcome to Tengu Talk</h3>
<p>
    This site is meant to be a live reference of various features of Guild Wars 2. From updating daily categories
    to a functional map of Tyria, there are lots of tools to help any Guild Wars journey.
</p>
<div ng-controller="HomeController">
    Current Game Cycle: {{currentCycle}} <br/>
    Next Game Cycle: {{nextCycle}} <br />
    Time Remaining: {{timeRemaining}}
</div>