﻿@{
    ViewBag.Title = "Home";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tengu Talk - @ViewBag.Title</title>
    <meta name="description" content="This site is meant to be a live reference of various features of Guild Wars 2. From updating daily categories to a functional map of Tyria, there are lots of tools to help any Guild Wars journey.">
    <base href="/">


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.min.js"></script>
    <script src="//npmcdn.com/leaflet@0.7.7/dist/leaflet.js"></script>

    <script>
    // Picture element HTML5 shiv. Safeguard for browsers that do not support the picture element.
    document.createElement( "picture" );
    </script>
    <script src="//cdn.rawgit.com/scottjehl/picturefill/3.0.2/dist/picturefill.min.js"></script>
    

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <link rel="stylesheet" href="//npmcdn.com/leaflet@0.7.7/dist/leaflet.css" />


    <!--
    <script src="~/Content/js/homeapp.js"></script>
    <script src="~/Content/js/factories/achievements.js"></script>
    <script src="~/Content/js/factories/recipes.js"></script>
    <script src="~/Content/js/controllers/home.js"></script>
    <script src="~/Content/js/controllers/world.js"></script>
    <script src="~/Content/js/controllers/daily.js"></script>
    <script src="~/Content/js/controllers/map.js"></script>
    <script src="~/Content/js/controllers/crafting.js"></script>
    <script src="~/Content/js/controllers/profession.js"></script>
    <link rel="stylesheet" href="~/Content/css/core.css" />
    <link rel="stylesheet" href="~/Content/css/slider.css" />
    -->
    @Scripts.Render("~/bundles/angularfiles")
    @Styles.Render("~/bundles/css")


    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-80562187-2', 'auto');
        ga('send', 'pageview');
        // Events for Google Analytics are trigger within homeapp.js.
    </script>
</head>
<body class="container">
    <header class="col-xs-12">
        <h1>Tengu Talk</h1>
        <a class="menuitem" href="/">Home</a>
        <a class="menuitem" href="/daily">Daily</a>
        <a class="menuitem" href="/worlds">Worlds</a>
        <a class="menuitem" href="/map">Map</a>
        <a class="menuitem" href="/crafting">Crafting</a>
        <a class="menuitem" href="/profession">Professions</a>
        <a class="menuitem" href="/about">About</a>
    </header>

    <main class="col-xs-12" ng-app="HomeApp" ng-controller="IndexController">
        <div ng-view></div>
    </main>
</body>
</html>