﻿<h3>The World of Tyria</h3>
<section ng-controller="MapController" ng-init="init()">
    <input type="checkbox" name="waypoints" id="checkWaypoints" ng-model="checkWaypoints" ng-change="updateMap()" /><label for="checkWaypoints">Waypoints</label>
    <input type="checkbox" name="vistas" id="checkVistas" ng-model="checkVistas" ng-change="updateMap()" /><label for="checkVistas">Vista</label>
    <input type="checkbox" name="pois" id="checkPois" ng-model="checkPois" ng-change="updateMap()" /><label for="checkPois">Point of Interest</label>
    <br />

    <div id="map"></div>
</section>

