﻿<h3>Professions</h3>
<p>
    
</p>

<section ng-controller="ProfessionController">
    <div class="row">
        <div class="col-xs-4 col-sm-3 profContainer {{prof.class}}" ng-repeat="prof in professions track by $index" ng-click="profClicked(prof)">
            <picture>
                <source srcset="{{prof.icon_big}}" media="(min-width: 500px)">
                <img srcset="{{prof.icon}}" alt="{{prof.name}}" title="{{prof.name}}">
            </picture>
            <label>{{prof.name}}</label>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-3 profInfo {{prof.class}}" ng-repeat="prof in professions track by $index">
            <h3>{{prof.name}}</h3>
            <label>Weapons:</label>
            <ul class="professionWeapons">
                <li ng-repeat="(key, weapon) in prof.weapons" data-toggle="modal" data-target="#baseModal" ng-click="weaponClicked(prof.name, key, weapon)">{{key}}<span class="glyphicon glyphicon-info-sign"></span></li>
            </ul>
        </div>
    </div>

    <!------------------ Bootstrap modal for weapon skills breakdown. -------------------------->
    <div id="baseModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{modalName}}</h4>
                    <input type="checkbox" id="expertMode" ng-checked="{{expertMode}}" ng-model="expertMode" ng-change="expertModeChange()"/>
                    <label for="expertMode">Show Skill Details?</label>
                </div>
                <div class="modal-body">
                    <ul ng-hide="expertMode">
                        <li ng-repeat="skill in modalJSON | orderBy:'slot'">
                            Slot {{skill.slot.substring(7)}}: <strong>{{skill.name}}</strong> - {{skill.description}}
                        </li>
                    </ul>
                    <table ng-show="expertMode" id="expertSkill">
                        <tr>
                            <th>Slot</th>
                            <th>Name</th>
                            <th>Range</th>
                            <th>Recharge (seconds)</th>
                            <th>Description</th>
                        </tr>
                        <tr ng-repeat="skill in modalJSON | orderBy:'slot'">
                            <td class="slot">{{skill.slot.substring(7)}}</td>
                            <td class="name">{{skill.name}}</td>
                            <td class="range">{{getFact(skill.facts, 'Range').value}}</td>
                            <td class="recharge">{{getFact(skill.facts, 'Recharge').value}}</td>
                            <td class="description">{{skill.description}}</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>