﻿<h3>Worlds</h3>
<p>
    In Guild Wars 2, servers are referred to as &quot;Worlds&quot;. The primary use of this is for WvW in which
    worlds battle in the Mists for domination. Below is the official server list along with the current population
    of those servers. The table can be sorted by server name or current capacity.
</p>

<section ng-controller="WorldController">
    <table class="worlds">
        <tr>
            <th ng-click="sortBy('name')">Server Name</th>
            <th ng-click="sortBy('population')">Population</th>
        </tr>
        <tr ng-repeat="world in worlds | orderBy:controllerSort:reverse" class="{{world.population}}">
            <td>{{world.name}}</td>
            <td>{{world.population}}</td>
        </tr>
    </table>
</section>

