﻿body
{
    /*background: url('../assets/gw2-celadon-forest.jpg') no-repeat center center fixed; */
    background: url('../Content/assets/gw2-celadon-forest.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header
{
    background-color: #7A7561;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

header a
{
    margin-right: 10px;
}

a:link, a:visited, a:hover
{
    color: #FFF;
    text-decoration: underline;
}
a:hover, a:active
{
    text-decoration: none;
}
.leaflet-container a
{
    color: #7A7561;
    text-decoration: none;
}

main
{
    background-color: #C1B99B;
    margin-bottom: 10px;
    padding-bottom: 10px;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

main section
{
    padding-bottom: 25px;
}

#map 
{
    width: 100%;
    min-height: 500px;
}

input[type="checkbox"]+label
{
    margin-right: 15px;
}

.dailycontainer
{
    height: 200px;
}

.dailycontainer h3
{
    padding: 4px 10px 4px 10px;
    background-color: #7A7561;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.dailycontainer table 
{
    background-color: #FFF;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.dailycontainer table td
{
    padding: 4px 7px 4px 7px;
}

table.worlds td, table.worlds th
{
    padding: 4px 7px 4px 7px;
}
table.worlds th
{
    background-color: #7A7561;
}
.Medium
{
    background-color: #009900;
    color: #000;
}
.High
{
    background-color: yellow;
    color: #000;
}
.VeryHigh
{
    background-color: red;
    color: #000;
}
.Full
{
    background-color: black;
    color: #FFF;
}

.legalSection
{
    padding-bottom: 0px;
}
.legalSection a, .legalSection a:hover
{
    color: black;
}

#weaponResults ul, #armorResults ul
{
    padding: 0px;
    margin-top: 10px;
    max-height: 500px;
    overflow: auto;
    min-height: 100px;
    max-height: 400px;
    background-color: #E5DCB9;

    border: 1px solid #7A7561;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
}
#weaponResults ul li, #armorResults ul li
{
    list-style: none;
    padding: 10px;

    height: 60px;
    -webkit-transition: height 1s; 
    -moz-transition: height 1s; 
    -ms-transition: height 1s; 
    -o-transition: height 1s; 
    transition: height 1s; 
}
#weaponResults ul li.rarityMiss, #armorResults ul li.rarityMiss
{
    padding: 3px;
    font-size: 10px;
    background-color: #999;

    height: 16px;
    -webkit-transition: height 1s; 
    -moz-transition: height 1s; 
    -ms-transition: height 1s; 
    -o-transition: height 1s; 
    transition: height 1s;  
}
#weaponResults ul li:hover, #armorResults ul li:hover
{
    background-color: #FFF;
}
#weaponResults img, #armorResults img
{
    height: 40px;
}
#weaponResults .rarityMiss img, #armorResults .rarityMiss img
{
    height: 5px;
}

ul.professionWeapons
{
    padding: 0px;
}
ul.professionWeapons li
{
    padding: 5px;
    list-style: none;
    height: 30px;
}
ul.professionWeapons li:hover
{
    background-color: #FFF;
}
ul.professionWeapons li span
{
    margin-left: 10px;
}

label.Basic, label.Fine, label.Masterwork, label.Rare, label.Exotic, label.Ascended, label.Legendary
{
    font-family: Georgia, serif;
    font-size: 20px;
    letter-spacing: 1px;
}
label.Basic
{
    color: #000;
}
label.Fine
{
    color: #347DBA;
}
label.Masterwork
{
    color: #279306;
}
label.Rare
{
    color: #FFD83D;
    text-shadow:
        -1px -1px 0 #333,
        1px -1px 0 #333,
        -1px 1px 0 #333,
        1px 1px 0 #333;  
}
label.Exotic
{
    color: #FFA405;
    text-shadow:
        -1px -1px 0 #333,
        1px -1px 0 #333,
        -1px 1px 0 #333,
        1px 1px 0 #333;  
}
label.Ascended
{
    color: #FB3E8D;
    text-shadow:
        -1px -1px 0 #333,
        1px -1px 0 #333,
        -1px 1px 0 #333,
        1px 1px 0 #333;  
}
label.Legendary
{
    color: #4C139D;
}

.btn-prev
{
    margin-right: 15px;
}

.cursor-override-link
{
    cursor:pointer;
}

.profContainer
{
    padding-top: 20px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 16px;
    background-color: #FFF;
    text-align: center;
    width: 125px;
    height: 125px;
    -moz-border-radius: 75px; 
    -webkit-border-radius: 75px; 
    border-radius: 75px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);

    -webkit-transition: all 1.5s ease-out;
    -moz-transition: all 1.5s ease-out;
    -o-transition: all 1.5s ease-out;
    transition: all 1.5s ease-out;
}
@media (max-width: 500px) {
    .profContainer {
        font-size: 12px;
        width: 100px;
        height: 100px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
    }
}

.profContainer img
{
    padding-left: 25%;
    padding-right: 25%;
    width: 100%;
}

.profContainer.profSelected
{
    background: #7A7561;
    color: #FFF;
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}

.profInfo
{
    background-color: #E5DCB9;
    margin: 0px;
    padding: 0px;
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px; 
    border-radius: 15px;
    
    visibility: hidden;
    width: 0px;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 1.5s ease-out, height 1.5s ease-out, min-height 1.5s ease-out;
    -moz-transition: max-height 1.5s ease-out, height 1.5s ease-out, min-height 1.5s ease-out;
    -o-transition: max-height 1.5s ease-out, height 1.5s ease-out, min-height 1.5s ease-out;
    transition: max-height 1.5s ease-out, height 1.5s ease-out, min-height 1.5s ease-out;
}
.profInfo.profSelected
{
    visibility: visible;
    padding: 20px;
    margin: 20px;
    width: 270px;
    min-height: 400px;
    max-height: 400px;
    overflow: auto;
}

.profInfo h3
{
    margin-top: 0px;
}

table#expertSkill
{
    overflow: auto;
    width: 100%;
}

table#expertSkill tr th
{
    background-color: #7A7561;
    color: #FFF;
    border: 1px solid #000;
    padding-left: 10px;
    padding-right: 10px;
}
table#expertSkill tr td
{
    border: 1px solid #7A7561;
    padding-left: 10px;
    padding-right: 10px;
}
table#expertSkill tr:nth-child(odd) td
{
    background-color: #E5DCB9;
}
table#expertSkill tr:nth-child(even) td
{
    background-color: #C1B99B;
}
table#expertSkill td.slot
{
    width: 50px;
}
table#expertSkill td.name
{
    width: 100px;
}
table#expertSkill td.description
{
    width: 300px;
}
table#expertSkill td.range, table#expertSkill td.recharge
{
    width: 100px;
}

/*******************  loading style  ********************/
.loader,
.loader:before,
.loader:after {
  background: #7A7561;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  max-height: 175px;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  color: #7A7561;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}